@import url("../../libraries/polyui/polyui.css");
@import url("../../css/fonts/font-awesome.css");
@import url("../../css/fonts/macset.css");

body {
  background: #3BAC69;
}
a {
  cursor: pointer;
}

/* Main Styles */
.grid, .call {
  color: #d8d8d8;
}
#holder, #holder.hover {
  margin: 20px auto;
  padding: 1em 0;
  text-align: center;
}
#holder {
  border: 10px dashed #d8d8d8;
}
#holder.hover {
  border: 10px dashed #333;
}
.call:hover {
  color: #fff;
}


/* Styles As Variables */
.hide {
  display: none;
}
.fill {
  width: 100%;
}
.centa {
  text-align: center;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.nomarb {
  margin-bottom: 0;
}
.progressDialog, .button {
  position: absolute;
  top : -1000px;
  left: -1000px;
}