@import url("../../editor/css/normalize.css");
@import url("../../editor/css/fonts/font-awesome.css");
@import url("../../editor/libraries/jqueryui/jqueryui.css");
@import url("../../editor/libraries/codemirror/codemirror.css");
@import url("../../editor/libraries/codemirror/addon/fold/foldgutter.css");
@import url("../../editor/libraries/codemirror/addon/lint/lint.css");
@import url("../../editor/libraries/codemirror/addon/dialog/dialog.css");
@import url("../../editor/libraries/codemirror/addon/hint/show-hint.css");
@import url("../../editor/libraries/alertifyjs/css/alertify.min.css");
@import url("../../editor/libraries/alertifyjs/css/themes/default.min.css");
@import url("../../editor/libraries/jqwidgets/styles/jqx.base.css");
@import url("../../editor/libraries/jqwidgets/styles/jqx.metro.css");
@import url("../../editor/libraries/jqwidgets/styles/jqx.metrodark.css");
@import url("../../editor/libraries/codemirror/inlet.css");
@import url("../../editor/css/jqueryminicolors.css");
@import url("../../editor/css/polyui.css");
@import url("../../editor/libraries/codemirror/theme/kwdark.css");
@import url("../../editor/libraries/codemirror/theme/3024-day.css");
@import url("../../editor/libraries/codemirror/theme/3024-night.css");
@import url("../../editor/libraries/codemirror/theme/abcdef.css");
@import url("../../editor/libraries/codemirror/theme/ambiance-mobile.css");
@import url("../../editor/libraries/codemirror/theme/ambiance.css");
@import url("../../editor/libraries/codemirror/theme/base16-dark.css");
@import url("../../editor/libraries/codemirror/theme/base16-light.css");
@import url("../../editor/libraries/codemirror/theme/bespin.css");
@import url("../../editor/libraries/codemirror/theme/blackboard.css");
@import url("../../editor/libraries/codemirror/theme/cobalt.css");
@import url("../../editor/libraries/codemirror/theme/colorforth.css");
@import url("../../editor/libraries/codemirror/theme/dracula.css");
@import url("../../editor/libraries/codemirror/theme/eclipse.css");
@import url("../../editor/libraries/codemirror/theme/elegant.css");
@import url("../../editor/libraries/codemirror/theme/erlang-dark.css");
@import url("../../editor/libraries/codemirror/theme/hopscotch.css");
@import url("../../editor/libraries/codemirror/theme/icecoder.css");
@import url("../../editor/libraries/codemirror/theme/isotope.css");
@import url("../../editor/libraries/codemirror/theme/lesser-dark.css");
@import url("../../editor/libraries/codemirror/theme/liquibyte.css");
@import url("../../editor/libraries/codemirror/theme/material.css");
@import url("../../editor/libraries/codemirror/theme/mbo.css");
@import url("../../editor/libraries/codemirror/theme/mdn-like.css");
@import url("../../editor/libraries/codemirror/theme/midnight.css");
@import url("../../editor/libraries/codemirror/theme/monokai.css");
@import url("../../editor/libraries/codemirror/theme/neat.css");
@import url("../../editor/libraries/codemirror/theme/neo.css");
@import url("../../editor/libraries/codemirror/theme/night.css");
@import url("../../editor/libraries/codemirror/theme/paraiso-dark.css");
@import url("../../editor/libraries/codemirror/theme/paraiso-light.css");
@import url("../../editor/libraries/codemirror/theme/pastel-on-dark.css");
@import url("../../editor/libraries/codemirror/theme/railscasts.css");
@import url("../../editor/libraries/codemirror/theme/rubyblue.css");
@import url("../../editor/libraries/codemirror/theme/seti.css");
@import url("../../editor/libraries/codemirror/theme/solarized.css");
@import url("../../editor/libraries/codemirror/theme/the-matrix.css");
@import url("../../editor/libraries/codemirror/theme/tomorrow-night-bright.css");
@import url("../../editor/libraries/codemirror/theme/tomorrow-night-eighties.css");
@import url("../../editor/libraries/codemirror/theme/ttcn.css");
@import url("../../editor/libraries/codemirror/theme/twilight.css");
@import url("../../editor/libraries/codemirror/theme/vibrant-ink.css");
@import url("../../editor/libraries/codemirror/theme/xq-dark.css");
@import url("../../editor/libraries/codemirror/theme/xq-light.css");
@import url("../../editor/libraries/codemirror/theme/yeti.css");
@import url("../../editor/libraries/codemirror/theme/zenburn.css");
/* @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"); */

@font-face {
  font-family: Lato;
  src: url("../../editor/css/fonts/Lato-Light.ttf");
}

html, body {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #F3F5F6;
}
a {
  cursor: pointer;
}
a:active, a:focus {
  outline: 0;
}

/* Menubar */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 14px #e3e3e3;
}
header a {
  text-decoration: none;
  margin: 0;
  padding: 15px 10px;
  color: #39464E;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
}
.selected {
  border-bottom: 3px solid #1c90f3;
}
.logo {
  padding-right: 4em;
  margin-right: 0;
  background-image: url("http://kodeweave.sourceforge.net/logo.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.hu:hover {
  text-decoration: underline;
}

/* Position Editors and Preview */
.editor,
.result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
}
.editor,
.CodeMirror {
  height: 100%;
/*  height: auto;*/
}
.result {
  height: 100%;
}
#editors {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.CodeMirror .cm-palette-hint {
  display: inline-block;
  box-sizing: border-box;
  margin: -2px 2px 0 6px;
  border-radius: 50%;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 1px 2px #fff,
              0 0 1px 3px #a0a09c;
}
.preview-editor {
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100vh - 54px);
}
#preview {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Center preloader content horizontally and vertically */
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
/* Preloader animation */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background: #4E92A2;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fixedfill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.preloader {
  background: #fff;
  background: rgba(255, 255, 255, 0.68);
  z-index: 99999!important;
  color: #4E92A2;
}

/* Variable Classes */
.fr {
  float: right;
}
.fl {
  float: left;
}
.fn {
  float: none;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
.nopadding {
  padding: 0;
}
.nomar {
  margin: 0;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}

@media all and (max-width:560px) {
  .logo {
    padding-right: 0;
    margin-right: 4px;
  }
  .name {
    display: none;
  }
}